<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planado | Rooms</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allura&family=Archivo:ital,wght@0,100..900;1,100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+TZ+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allura&family=Archivo:ital,wght@0,100..900;1,100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+TZ+Guides&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/rooms.css" />
  </head>
  <body>
    <p style="display: none" class="page">rooms</p>
    <%- include("partials/header") %> <%- include("partials/main") %> <%
    function converTime(time){ let [hours, minutes] = time.split(':'); hours =
    parseInt(hours, 10); let period = hours >= 12? "PM" : "AM"; hours = hours %
    12 || 12; return `${hours}:${minutes}${period}`; } %>
    <div class="container">
      <div>
        <% for(const ObjectKey in objectform) {%>
          
        <p class="room-name"><%= ObjectKey %> </p>
        <table class="sched-table" style="margin-top: 20px;">
          <thead>
            <tr>
              
              <th>section</th>
              <th>Instructor</th>
              <th>subject</th>
              <th>time</th>
              <th>day</th>
              <th class="dhead" id="tablehide"><p style="opacity: 0;" >delete</p></th>
              <td style="position: absolute;  transition: 0.3s ease; display: flex; flex-direction: column;" class="buttontd" id="notu">
                  
                <button class="material-icons-outlined" id="arrow" style="border: none; background-color: white; font-size: 30px;" >arrow_drop_down</button>
                <button class="material-icons-outlined download-btn" >picture_as_pdf</button>
              
            </td>
            <td style="position: absolute; border: none !important; left: -2px; top: -20px ; display: none;" class="tdhad"><p class="room-name"><%= ObjectKey %> </p></td>
            </tr>
          </thead>
          <tbody>
            <% objectform[ObjectKey].forEach((attri, index) => { %> 
            <% if(index !== 0) {%>
            <tr>
              <td><%= attri.section %></td>
              <td><%= attri.prof %></td>
              <td><%= attri.subject_code %></td>
              <td>
                <%= converTime(attri.start_time) %> - <%= converTime(attri.end_time) %>
              </td>
              <td><%= attri.day%></td>
              <td class="dbody" id="tablehide">
                <form class="delete-sched">
                  <button class="material-icons-outlined" name="deleteS" value="<%= attri.id %>" type="submit" style="border: none; background-color: white;" >delete</button>
                </form>
              </td>
              
              
               
                
            </tr>
            
            <% } %> 
            
            <% }); %>
            <tr id="tr2"  style="display: none;" class="tr2">
              <form id="submitsched-form">
              <td>
                <input
                  type="text"
                  placeholder="BSCPE2A"
                  name="section"
                  required
                  style="border: none; outline: none; border-bottom: 1px solid black;"
                />
              </td>
              <td>
                <select
                  type="text"
                  class="facultySelect"
                  name="faculty"
                  onchange="facultysub()"
                  required
                  style="border: none; outline: none; border-bottom: 1px solid black;"
                >
                <option value="">SELECT FACULTY</option>
                  <% Object.keys(groupedfaculty).forEach(dat =>{%>

                  <option style="background-color: palevioletred; font-size: 12px; padding-top: 5px;" value="<%= dat %>"><%= dat %></option>
                  <%}) %>
                </select>
              </td>
              <td>
                <select
                  type="text"
                  placeholder="FEC1"
                  name="subject"
                  class="subjectSelect"
                  required
                  style="border: none; outline: none; border-bottom: 1px solid black;"
                >
                  
                </select>
              </td>
              <td> <select name="start" id="start" style="border: none; outline: none; border-bottom: 1px solid black;">
                <option value="07:00:00">07:00 AM</option>
                <option value="07:30:00">07:30 AM</option>
                <option value="08:00:00">08:00 AM</option>
                <option value="08:30:00">08:30 AM</option>
                <option value="09:00:00">09:00 AM</option>
                <option value="09:30:00">09:30 AM</option>
                <option value="10:00:00">10:00 AM</option>
                <option value="10:30:00">10:30 AM</option>
                <option value="11:00:00">11:00 AM</option>
                <option value="11:30:00">11:30 AM</option>
                <option value="12:00:00">12:00 PM</option>
                <option value="12:30:00">12:30 PM</option>
                <option value="13:00:00">01:00 PM</option>
                <option value="13:30:00">01:30 PM</option>
                <option value="14:00:00">02:00 PM</option>
                <option value="14:30:00">02:30 PM</option>
                <option value="15:00:00">03:00 PM</option>
                <option value="15:30:00">03:30 PM</option>
                <option value="16:00:00">04:00 PM</option>
                <option value="16:30:00">04:30 PM</option>
                <option value="17:00:00">05:00 PM</option>
                <option value="17:30:00">05:30 PM</option>
                <option value="18:00:00">06:00 PM</option>
                <option value="18:30:00">06:30 PM</option>
                <option value="19:00:00">07:00 PM</option>
              </select>
              <select name="end" id="end">
                <option value="07:00:00">07:00 AM</option>
                <option value="07:30:00">07:30 AM</option>
                <option value="08:00:00">08:00 AM</option>
                <option value="08:30:00">08:30 AM</option>
                <option value="09:00:00">09:00 AM</option>
                <option value="09:30:00">09:30 AM</option>
                <option value="10:00:00">10:00 AM</option>
                <option value="10:30:00">10:30 AM</option>
                <option value="11:00:00">11:00 AM</option>
                <option value="11:30:00">11:30 AM</option>
                <option value="12:00:00">12:00 PM</option>
                <option value="12:30:00">12:30 PM</option>
                <option value="13:00:00">01:00 PM</option>
                <option value="13:30:00">01:30 PM</option>
                <option value="14:00:00">02:00 PM</option>
                <option value="14:30:00">02:30 PM</option>
                <option value="15:00:00">03:00 PM</option>
                <option value="15:30:00">03:30 PM</option>
                <option value="16:00:00">04:00 PM</option>
                <option value="16:30:00">04:30 PM</option>
                <option value="17:00:00">05:00 PM</option>
                <option value="17:30:00">05:30 PM</option>
                <option value="18:00:00">06:00 PM</option>
                <option value="18:30:00">06:30 PM</option>
                <option value="19:00:00">07:00 PM</option>
              </select>
            </td>
              
              <td><select name="day" id="day">
                <option value="MONDAY">MONDAY</option>
                <option value="TUESDAY">TUESDAY</option>
                <option value="WEDNESDAY">WEDNESDAY</option>
                <option value="THURSDAY">THURSDAY</option>
                <option value="FRIDAY">FRIDAY</option>
                <option value="SATURDAY">SATURDAY</option>
              </select>
              </td>
              <td style="position: absolute;  transition: 0.3s ease;">
                  <input type="hidden" name="room" value="<%= ObjectKey %>">
                  <button type="submit" class="material-icons-outlined" style="border: none; background-color: white; font-size: 25px;">add_box</button>
                </form>
              </td>
            </tr>
          </tbody>
        
        </table>
        
        <% } %>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <div style="display: none;" id="vardiv" data-info='<%- JSON.stringify(groupedfaculty) %>' ></div>
    <script>


document.addEventListener("DOMContentLoaded", () => {
  const tables = document.querySelectorAll(".sched-table");

  tables.forEach((table, index) => {
    const downloadBtn = table.querySelector(".download-btn");
    
    if (downloadBtn) {
      
      downloadBtn.addEventListener("click", () => {

          table.querySelector(".buttontd").style.display ="none";
          table.querySelectorAll("th").forEach(th => {
            th.style.border = "1px solid black"
            th.style.backgroundColor = "white"
     

          })
          table.querySelectorAll("td:not(#notu)").forEach(td => {
            td.style.border = "1px solid black"
           
          })
          table.querySelector("tr").style.border = "1px solid black"
          table.querySelector("td").style.border = "1px solid black"
          table.style.border = "1px solid black" 
          table.style.width = "500px"
          table.querySelectorAll("#tablehide").forEach(a =>{ a.style.display = "none"})
          table.querySelector(".tdhad").style.border = "none"
          table.querySelector(".tdhad").style.display = "table-cell"
      
        
          
         
        setTimeout(() => {
          
          table.style.animation = "none";
          table.style.overflow = "visible";
          html2pdf()
            .set({
              margin: 15,
              filename: `room-${index + 1}.pdf`,
              image: { type: "jpeg", quality: 1 },
              html2canvas: { scale: 2 },
              jsPDF: { unit: "mm", format: "a4", orientation: "landscape" }
            })
            .from(table)
            .save();
        }, 2000);
        setTimeout(() => {
          location.reload()
        }, 2500);
       
      });
     } 
       });
      });





    let tablehide = document.querySelectorAll("#tablehide"); 
    let showadds = document.querySelectorAll("#arrow")
    let rolecont = document.querySelector(".rolecont").textContent
    showadds.forEach(showadd => {
    if (rolecont === null || rolecont === "user"){
    showadd.style.display = "none"
    tablehide.forEach(tohide =>{
            tohide.style.display = "none"
           })
    }
    })




       
        let elems = document.querySelectorAll("#tr2");
        let but = document.querySelectorAll("#arrow")


        for (let i = 0; i < elems.length; i++){
          but[i].addEventListener("click",()=>{
            if(elems[i].style.display === "none"){
          elems[i].style.display = "table-row"
          but[i].textContent = "arrow_drop_up"
        }else{
          elems[i].style.display = "none"
          but[i].textContent = "arrow_drop_down"
        }
          })
          
        
        }

      function facultysub() {
        let faculties = JSON.parse(document.querySelector("#vardiv").dataset.info);
        let prof = document.querySelectorAll(".facultySelect");
        let subjectSe = document.querySelectorAll(".subjectSelect")
         
       
        for (let i = 0; i < prof.length; i++){

          let profs = prof[i].value;
          let subs = subjectSe[i]
          subs.innerHTML = ""
          if(profs !== ""){
          faculties[profs].forEach(element => {
          subs.innerHTML += `<option style="background-color: palevioletred; font-size: 12px; padding-top: 5px;" value="${element.subject}">${element.subject}</option>`
        
       });
      }
        }
     
      }
   
      
      let addsched = document.querySelectorAll("#submitsched-form");

      addsched.forEach(element => {
        element.addEventListener("submit", (e) => {
        e.preventDefault();

        let Newform = new FormData(element);
        let data = Object.fromEntries(Newform);

        fetch("/addsched", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(data),
        })
          .then((res) => res.json())
          .then((dat) => {

            if (dat.success){
              popthis(dat.message);
            let contel = document.createElement("tr");
            contel.innerHTML += `  <tr>
              <td> ${dat.section }</td>
              <td> ${dat.faculty} %></td>
              <td>${dat.subject}></td>
              <td>
                ${dat.strt} - ${dat.ending}
              </td>
              <td>${dat.day}</td>
              <td class="dbody" id="tablehide">
                <form class="delete-sched">
                  <button class="material-icons-outlined" name="deleteS" value="${dat.id}" type="submit" style="border: none; background-color: white;" >delete</button>
                </form>
              </td>  
            </tr>`
            let table = e.target.closest(".sched-table");
            let tbody = table.querySelector("tbody")
            let bottom = tbody.querySelector(".tr2")
            tbody.insertBefore(contel, bottom)
           
            }else{
              popthis(dat.message)
            }
           
           
          });
      });
      });
      
      
      let dels = document.querySelectorAll(".delete-sched");
       
     
      dels.forEach(del => {
        del.addEventListener("submit", (e) =>{
        
        e.preventDefault()

       const delid = del.querySelector("button[name='deleteS']").value
       const data = {deleteS: delid}
        fetch("/deletesched", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(data),
        })
          .then((res) => res.json())
          .then((dat) => {
            if (dat.success) {
              e.target.closest("tr").remove()
            } else {
              popthis(dat.message);
            }
          });
      })
      })
    </script>
  </body>
</html>
